<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
        <style>
            #dropOperator {
                width: 50%;
                padding-left: 5px;
            }
        </style>
    </head>
    <a href="/signout"><h5>Signout</h5></a>
    <a th:href="@{queue(queueID=${queueID})}"><h5>Cancel</h5></a>
    <form action="#" th:action="@{queue/add_component(queueID=${queueID})}" th:object="${queueInfo}" method="post">

        <br><label for="playlist">Playlist to add from</label><br>
        <select id="playlistID" path="playlistID" name="playlist" th:field="*{playlistAdd}" data-style="btn-default" class="selectpicker form-control">
            <div th:each="playlist : ${playlists}">
                <option th:value="${playlist.id}" th:text="${playlist.name}"></option>
            </div>
        </select>

        <br><label for="genre">Genres</label><br>
        <select id="genre" name="genre" th:field="*{genre}" data-style="btn-default" class="selectpicker form-control" multiple>
        </select>


        <br><label for="Artist">Artist</label><br>
        <select id="artist" name="artist" th:field="*{artist}" data-style="btn-default" class="selectpicker form-control" multiple>
        </select>

        <br><label for="Album">Album</label><br>
        <select id="album" name="album" th:field="*{album}" data-style="btn-default" class="selectpicker form-control" multiple>
        </select>

        <p>Popularity Minimum: <input type="number" th:field="*{popularityMin}" value="0" min="0" max="100"/></p>
        <p>Popularity Maximum: <input type="number" th:field="*{popularityMax}" value="100" min="0" max="100"/></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <script type="text/javascript">
       $(document).ready(function() {
        $("#playlistID").change(function() {
          console.log("Changed playlist select!");
          var playlistID = $(this).find(":selected").val();
          console.log(playlistID);
          var json = {
           "playlistID" : playlistID
          };

          $.ajax({
           type : "POST",
           contentType : "application/json",
           url : "/loadPlaylistData",
           data : JSON.stringify(json),
           dataType : 'json',
           cache : false,
           timeout : 600000,
           success : function(data) {
            console.log("Im in success! Heres the data!");
            console.log(data);
            let genres = data.genres;
            let albums = data.albums;
            let artists = data.artists;
            let html;

            html = ""
            genres.forEach(function(element) {
                html += '<option th:value="${'+element+'}" th:text="${'+element+'}">'+element+'</option>';
            });
            $('#genre').html(html).selectpicker('refresh');

            html = ""
            albums.forEach(function(element) {
                html += '<option th:value="${'+element+'}" th:text="${'+element+'}">'+element+'</option>';
            });
            $('#album').html(html).selectpicker('refresh');

            html = ""
            artists.forEach(function(element) {
                html += '<option th:value="${'+element+'}" th:text="${'+element+'}">'+element+'</option>';
            });
            $('#artist').html(html).selectpicker('refresh');

           },
           error : function(e) {
            alert(e);
           }
          });
        });
       });
      </script>

</html>
