<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
        <style>
            #dropOperator {
                width: 50%;
                padding-left: 5px;
            }
        </style>
    </head>
    <a href="/signout"><h5>Signout</h5></a>
    <a href="/queues"><h5>Cancel</h5></a>
    <a th:href="@{queue/add_component(queueID=${queueID})}">Create Queue Component</a>
    <table>
        <tr>
            <th>Playlist</th>
            <th>Genres</th>
            <th>Artists</th>
            <th>Albums</th>
            <th>Minimum Popularity</th>
            <th>Maximum Popularity</th>
        </tr>
        <tr th:each="component : ${components}">
            <th th:text="${component.playlist}"></th>
            <th th:text="${component.genres}"></th>
            <th th:text="${component.artists}"></th>
            <th th:text="${component.albums}"></th>
            <th th:text="${component.popularityMin}"></th>
            <th th:text="${component.popularityMax}"></th>
        </tr>
    </table>
</html>
